# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pr:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreCLI@2  
  inputs:
    command: custom
    custom: tool
    arguments: install --tool-path . nbgv
  displayName: Install Nerdbank.GitVersioning

- script: ./nbgv cloud
  displayName: Set Version

- task: DotNetCoreCLI@2
  inputs:
    command: build
    arguments: -c $(BuildConfiguration)   
  displayName: Build

- task: DotNetCoreCLI@2
  inputs:
    command: test
    projects: 'tests/**/*.csproj'
    arguments: '--configuration $(buildConfiguration)'
  displayName: Unit Tests

- task: DotNetCoreCLI@2
  inputs:
    command: pack
    packagesToPack: src/Reinforce/Reinforce.csproj
    configuration: $(BuildConfiguration)
    packDirectory: $(Build.ArtifactStagingDirectory)
    nobuild: true
  displayName: Pack

- task: DotNetCoreCLI@2
  inputs:
    command: pack
    packagesToPack: src/Reinforce.HttpClientFactory/Reinforce.HttpClientFactory.csproj
    configuration: $(BuildConfiguration)
    packDirectory: $(Build.ArtifactStagingDirectory)    
    verbosityPack: Minimal
  displayName: Pack Extensions

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'